<!-- templates/article/home.html -->
{% extends "article/base.html"%}
    {% block content %}
    <h1>Articles</h1>
    <a href="{% url "create_article" %}">Create article</a>
    {% if articles %}
    <ul>
        {% if articles %}
            {% for article in articles %}
                <li>{{ article.title }} with {{ article.word_count }} word{{ article.word_count | pluralize }}.</h1>

            {% endfor %}
        {% endif %}
    </ul>
    {% else %}
        <p>You have no articles yet.</p>
    {% endif %}
    {% endblock content %}
